openapi: 3.2.0
info:
  title: Enso Projects API
  description: '#### Enso API

    - Find detailed documentation on docs.enso.finance.

    - To use the API, **you must include your API Key in the Authorization header** (Bearer format).

    - For testing, Swagger pre-authorizes you using the key: `1e02632d-6feb-4a75-a157-documentation` (1rps).

    - Get your own API Key at enso.finance/developers.'
  version: '1.0'
  contact: {}
servers:
- url: https://api.enso.finance
security:
- bearer: []
tags:
- name: Projects
paths:
  /api/v1/projects:
    get:
      operationId: ProjectsController_standards
      summary: Returns the overarching projects or platforms associated with the available…
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      tags:
      - Projects
  /api/v1/projects/{project}/protocols:
    get:
      operationId: ProjectsController_getStandardsByProject
      summary: Returns protocols available by project
      parameters:
      - name: project
        required: true
        in: path
        description: The overarching project or platform
        schema:
          example: aave
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolModel'
      tags:
      - Projects
components:
  schemas:
    Network:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
      required:
      - id
      - name
    Project:
      type: object
      properties:
        id:
          type: string
        chains:
          type: array
          items:
            type: number
        protocols:
          type: array
          items:
            type: string
      required:
      - id
      - protocols
    ProtocolModel:
      type: object
      properties:
        project:
          type: string
          example: uniswap
        slug:
          type: string
          example: uniswap-v2
        name:
          type:
          - string
          - 'null'
          example: Uniswap V2
        description:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
          example: https://app.uniswap.org/swap
        logosUri:
          example: https://icons.llama.fi/uniswap-v2.png
          type:
          - array
          - 'null'
          items:
            type: string
        chains:
          example:
          - id: 1
            name: mainnet
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Network'
      required:
      - project
      - slug
      - name
      - description
      - url
      - logosUri
      - chains
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: apiKey
      type: http
